doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Webpack app
    link(rel='stylesheet', href='css/main.min.css')
    body
        h1 test pug